.card {
    box-shadow: $shadowPrimary;
    background-color: #F7F5FB;
    border-radius: 26px 0 26px 0;
    transition: transform .4s;
    filter: brightness(70%);
    &:hover {
        transform: scale(1.15);
        filter: brightness(100%);
    }
    &-sm {
        max-width: 320px;
    }
    &-head {
        img { width: 100%; display: block; margin: 0 auto; }
    }
    &-body {        
        text-align: center;
        padding: 0.5rem 0.7rem;
        span {
            font-size: 1.6rem;
        }
        .text-bloc {
            max-height: 150px;
            overflow: auto;
        }
    }
    &-footer {

    }
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    padding: 1rem;
    &__title {
        color: $secondaryColor;        
    }
    &__cards {
        display: flex; flex-wrap: wrap;
        max-width: 1100px;
        padding: 1rem;
        gap: 25px;
    }
    &:first-child {
        border-radius: 6px 6px 0 0;
    }
    &:last-child {
        border-radius: 0 0 6px 6px;
    }
}