/* Footer */
.footer {		
	width: 100%;
	line-height: 1.7; /* Vertically center the text there */
	padding: 5px;
	&__container {
		width: 100%;
		max-width: 1200px;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;		
		padding: 15px 0;		
	}
	&__column {
		padding: 0.5rem;
		margin: 0 1rem;
		
	}
}

.footer-link {	
	text-decoration: none;
}